<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>9846704650-uc8g6cs8cm9j6c1omdu2amkf1ic3iome.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9846704650-uc8g6cs8cm9j6c1omdu2amkf1ic3iome</string>
	<key>API_KEY</key>
	<string>AIzaSyAHPwYi9VFOR2q2rx3TgqXSzh-4ZdLFUmc</string>
	<key>GCM_SENDER_ID</key>
	<string>9846704650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letsolutions.NotificationFirebase</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationsample-2b319</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationsample-2b319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9846704650:ios:222d98ba1de6a85c</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotificationsample-2b319.firebaseio.com</string>
</dict>
</plist>